{% extends "::base.html.twig" %}

{% block stylesheets %}
    {% stylesheets 'bundles/app/sass/*' filter='sass' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle"
                data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        {{ knp_menu_render('ArchstreetAppBundle:Builder:mainMenu', { 'style': 'navbar' }) }}
    </div><!-- /.navbar-collapse -->
</nav>

<div class="container-fluid">
    {% block container %}{% endblock %}
</div>
{% endblock %}